
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.fx-row {
    display: flex;
    flex-direction: row;
}
.fx-col{
    display: flex;
    flex-direction: column;
}
.fx-cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fx-sb{
    display: flex;
    justify-content: space-between;
}


.bothRows{
    /* border: 2px solid #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 20px;
    /* background-color: blue; */
}

.firstRow{
    border: 3px solid rgb(160, 10, 10);
    border-radius: 10px;
    width: 22em;
}

input, button {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}
#calendar {
    border: 3px solid rgb(160, 10, 10);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 400px;
    margin: 20px auto;
}
.day {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.fertile {
    background-color: #ffcccb;
}
.ovulation {
    background-color: #ff9999;
}
